.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.title {
    font-family: Lilita One, cursive;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3vh;
    
}

.products {
    display: flex;
    flex-direction: row;
}

.pr1, .pr2, .pr3, .pr4, .pr5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 15vh;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    
}

.products img { 
    height: 10vh;
    width: 10vh;
    padding-bottom: 3vh;
}
