.footer {
    background: #1f2022;
    margin-top: auto;
    text-align: center;
    color: white;
    padding: 3vh 3vh;
    flex: 0 0 auto;
}

.title {
    font-family: Lilita One;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 100%;
}

.social span, .last span {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts img {
    height: 5vh;
    weight: 5vh;
    margin: 1vh 1vh;
}
